.bg-white {
    background-color: #fff!important;
}
/* MODAL VISUALIZADOR DE CONTRATOS */
#detalleArchivosModal .modal-dialog {
    height: 100%;
    max-width: 100%;
    margin: 5vh auto;
}
#detalleArchivosModal .modal-dialog .modal-content {
    width: 100%;
    height: 90%;
}
/* #detalleArchivosModal .modal-dialog .modal-content .modal-body iframe {
    width: 100%;
    height: 100%;
} */
#TablaContratos tbody tr td.created { background-color: #03C988; }
#TablaContratos tbody tr td.pending { background-color: #F9D923; }
#TablaContratos tbody tr td.exceded { background-color: #FF6464; }